body{
    background-color: black;
}


a{
    text-decoration: underline !important;
}
.fa{
    color: blue;
}
h4{
    color: blue;
}
.box{
    background-color: black;

}
.boxpart{
    background-color: rgb(21, 19, 19);
    margin: 25px 20px 25px 20px;
    padding: 45px 20px;
    text-align: center;
    color: blue;
}